div#compensation {
  display: flex;
  flex-direction: column;
}

div#compensation div.header {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

div#compensation div.header h2 {
  max-width: 700px;
}

div#compensation div.header button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  width: 180px;
  cursor: pointer;
  outline: 0;
}

div#compensation div.header button:hover {
  opacity: 0.8;
}

div#compensation div.header button span {
  flex: 1;
  font-size: 16px;
}

div#compensation div.header button div {
  display: flex;
  background-color: #ad3939;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 45px;
  font-size: 24px;
}

div#compensation div.container {
  width: 100%;
}

div#compensation div.container table {
  width: 100%;
  border-collapse: collapse;
}

div#compensation div.container table tr {
  height: 50px;
}

div#compensation div.container table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

div#compensation div.container table tr th {
  text-align: left;
}

div#compensation div.container table tr td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 1240px) {
  div#compensation div.container table tr td:nth-child(3) {
    text-align: right;
  }
  div#compensation div.container table tr th:nth-child(3) {
    text-align: right;
  }
}

@media screen and (max-width: 1065px) {
  div#compensation div.header {
    flex-direction: column;
  }

  #back-button {
    text-align: right;
    margin-bottom: 30px;
  }

  /* Safari 6.1+ */
  div#compensation div.header h2 {
    -webkit-order: 2;
  }
  div#compensation div.header #back-button {
    -webkit-order: 1;
  }
  div#compensation div.header button {
    -webkit-order: 3;
  }

  /* Standard syntax */
  div#compensation div.header h2 {
    order: 2;
    margin-bottom: 30px;
  }
  div#compensation div.header #back-button {
    order: 1;
  }
  div#compensation div.header button {
    order: 3;
  }
}
