li.food-list-item a {
  text-decoration: none;
  color: #000;
}

li.food-list-item a span {
  display: inline-block;
  margin-top: 4px;
  color: #999;
}

li.food-list-item:hover {
  cursor: pointer;
  background-color: #ddd;
  transition: 300ms;
}
