div.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.explanation img {
  height: 72px;
  width: 72px;
}

div.explanation img.exercise {
  height: 108px;
  width: 108px;
}

div.explanation p {
  max-width: 324px;
  font-size: 18px;
}
