div.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

div.explanation img {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

div.explanation img.exercise {
  height: 120px;
  width: 120px;
  margin: 0 8px 12px 8px;
}

div.explanation p {
  max-width: 420px;
  font-size: 20px;
}
