div#search-page div.header {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
}

div#search-page div.search {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

div#search-page div.search button {
  border: none;
  padding: 10px 28px;
  font-size: 20px;
  background-color: var(--primary-color);
  border-radius: 40px;
  outline: none;
  color: #fff;
  margin-left: 12px;
}

div#search-page div.search button:hover {
  opacity: 0.8;
  cursor: pointer;
}

div#search-page .food-list {
  margin-top: 40px;
}

@media screen and (max-width: 650px) {
  div#search-page div.header {
    flex-direction: column;
  }

  #back-button {
    text-align: right;
    margin-bottom: 30px;
  }

  /* Safari 6.1+ */
  div#search-page div.header h2 {
    -webkit-order: 2;
  }
  div#search-page div.header #back-button {
    -webkit-order: 1;
  }

  /* Standard syntax */
  div#search-page div.header h2 {
    order: 2;
  }
  div#search-page div.header #back-button {
    order: 1;
  }

  div#search-page div.search {
    flex-direction: column;
  }

  div#search-page div.search button {
    margin: 30px 0 0 0;
  }
}

div#search-page div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

div#search-page div.pagination div.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

div#search-page div.pagination a {
  text-decoration: none;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 150px;
}

div#search-page div.pagination a span {
  flex: 1;
  text-align: center;
  padding: 8px;
  font-size: 16px;
}

div#search-page div.pagination a div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  font-size: 24px;
  background-color: #ad3939;
  height: 100%;
  width: 40px;
}

div#search-page div.pagination a:hover {
  opacity: 0.8;
}

div#search-page div.pagination a.disabled {
  pointer-events: none;
  opacity: 0.6;
}
