footer {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  width: 100%;
}

footer div#footer {
  display: flex;
  justify-content: space-between;

  max-width: 1260px;
  margin: 0 auto;
  padding: 60px 30px;
}

footer div#footer div img {
  width: 180px;
  margin-left: -10px;
}

footer div#footer div.left p {
  max-width: 180px;
  text-align: right;
}
