:root {
  --primary-color: #e93e3e;
  --title-color: #322153;
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);

  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  flex: 1;
  width: 100%;

  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 100px;
}

body,
input,
button,
p,
span {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}
